#contact_modal {
    display: none;
}

main {
    margin: auto 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
@media only screen and (max-width: 1023px){
    main {
        margin: 20px;
    }
}

body {
    font-family: "DM Sans", sans-serif;
    margin: 0;
}


header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 90px;
}

.photograph-header {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    background-color: #fafafa;
    padding: 3em;
    margin-bottom: 2em;
    border-radius: 5px;
}
@media only screen and (max-width: 1023px){
    .photograph-header {
        flex-flow: column-reverse nowrap;
        justify-content: center;
        align-items: center;
        text-align: center;
        row-gap: 1em;
        height: 100%;
        width: auto;
    }
}

.photograph-portrait{
    width: 375px;
    display: flex;
    justify-content: right;
}
@media only screen and (max-width: 1023px){
    .photograph-portrait {
        justify-content: center;
    }
}

.photograph-info {
    width: 375px;
}

.photograph-location{
    font-size: 24px;
    color: #901C1C;
}

.photograph-tagline{
    font-size: 18px;
    color: #525252;
}

.photograph-img {
    height: 200px;
    width: 200px;
    object-fit: cover;
    border-radius: 50%;
}

img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
}

.media-section {
    display: grid;
    grid-template-columns: repeat(auto-fill, 350px);
    justify-content: space-between;
    padding: 2em 0;
}
@media only screen and (max-width: 915px){
    .media-section {
        justify-content: center;
    }
}

.media-info-card{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
    padding: 10px 10px 30px 10px;
}

.media-like-count{
    font-weight: 500;
    font-size: 24px;
    text-align: right;
    color: #911C1C;
}

.media-like-content{
    display: flex;
    flex-direction: row;
}

.media-like-button{
    border: none;
    background-color: transparent;
    font-size: 18px;
    color: #911c1c;
    cursor: pointer;
}


.media-card-img, .media-card-video {
    width: 35rem;
    height: 30rem;
    object-fit: cover;
    border-radius: 0.5rem;
}

h1{
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 64px;
    color: #D3573C;
    margin: 0px;
}

h2{
    font-weight: 400;
    font-size: 24px;
    line-height: 31px;
    color: #911C1C;
    margin: 0px;
}

.logo {
    height: 50px;
    margin-left: 100px;
}

.contact-button {
    font-size: 20px;
    font-weight: bold;
    color: white;
    padding: 11px;
    width: 170px;
    height: 70px;
    border: none;
    background-color: #901C1C;
    border-radius: 5px;
    cursor: pointer;
}

.media-button-card {
    border: none;
    background-color: transparent;
    cursor: pointer;
    width: 350px;
}

.select{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.select-p{
    font-weight: 700;
    font-size: 18px;
    padding-right: 45px;
}

.select-button {
    font-size: 18px;
    font-weight: bold;
    color: white;
    padding: 11px;
    width: 170px;
    height: 70px;
    border: none;
    background-color: #901C1C;
    border-radius: 5px;
    cursor: pointer;
}

.media-card {
    display: flex;
    flex-flow: column nowrap;
    width: 350px;
}

.media-img-card, .media-video-card {
    width: 350px;
    height: 300px;
    object-fit: cover;
    border-radius: 0.5rem;
}

.modal {
    border-radius: 5px;
    background-color: #DB8876;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 35px;
    margin: auto;
}

.modal header {
    justify-content: space-between;
    width: 100%;
}

.modal header img {
    cursor: pointer;
}

.modal header h2 {
    font-size: 64px;
    font-weight: normal;
    text-align: center;
    object-fit: cover;
}

form {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
}

form label {
    color: #312E2E;
    font-size: 36px;
}

form div {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: self-start;
    margin-bottom: 26px;
}

form input {
    width: 100%;
    height: 68px;
    border: none;
    border-radius: 5px;
}